@tailwind base;
@tailwind components;
@tailwind utilities;

.text-first{
  color: rgb(218, 10, 51);
}
.bg-first{
  background-color: rgb(218, 10, 51);
}
.bg-second{
  background-color: rgb(168, 6, 38);
}